.lottery {
  &_content {
    position: relative;
    height: 600px;
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
  }

  &_item {
    &_main {
      border: 1px solid #fff;
      font-size: 20px;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      background-color: #B1120A;
      padding: 10px;
    }

    &.lottery_item-active {
      opacity: 0.4;
    }
  }
}